* {
    box-sizing: border-box;
    font-size: 1.2em;
}

body {
    display: flex;
    height: 100vh;
    margin: unset;
    padding: unset;
}

table {
    width: 8in;
}

table>tr>td:first-child {
    width: 30%;
}

table,
tr,
td {
    margin: auto;
    padding: 2px;
    border: 1px solid black;
    text-align: center;
}

.froyo {
    width: 50px;
    stroke: black;
    stroke-width: 6px;
}